<%= render "home/header" %>
<%= render "home/flash_message" %>

<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<div class="row">
				<h3 class="common-title">ユーザー情報</h3>
			</div>

			<% if @user.status == false %>
			<div class="row">
				<p>退会済ユーザー</p>
			</div>
			<% end %>

			<div class="row">
				<div class="col-sm-4">
					<p><b>ニックネーム</b></p>
				</div>
				<div class="col-sm-8">
					<p><%= @user.nickname %></p>
				</div>
			</div>

			<!--自分のページだった場合のみ表示する　email、氏名、編集リンク-->
			<% if user_signed_in? %>
			<% if current_user.id == @user.id %>
			<div class="row">
				<div class="col-sm-4">
					<p><b>メールアドレス</b></p>
				</div>
				<div class="col-sm-8">
					<p><%= @user.email %></p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<p><b>名前</b></p>
				</div>
				<div class="col-sm-8">
					<p><%= @user.lastname %> <%= @user.firstname %></p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<p><b>名前(カナ)</b></p>
				</div>
				<div class="col-sm-8">
					<p><%= @user.lastname_kana %> <%= @user.firstname_kana %></p>
				</div>
			</div>

			<%= link_to "編集", edit_user_path(@user.id), class: "btn btn-info" %>
			<% end %>
			<% end %>

			<div class="row">
				<h3 class="common-title" style="margin-top:40px;">投稿した記事</h3>
			</div>

			<table class="table">
				<tr>
					<th>タイトル</th>
					<th>いいね数</th>
					<th></th>
				</tr>
				<% @posts.each do |p| %>
				<tr>
					<td><%= link_to p.title, post_path(p.id) %></td>
					<td>good数：<%= favorited_count(p.id) %></td>

					<% if user_signed_in? %>
						<% if current_user.id == @user.id %>
							<td><%= link_to "編集", edit_post_path(p.id), class: "btn btn-info" %></td>
							<td><%= link_to "削除", post_path(p.id), method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure?" } %></td>
						<% else %>
							<td></td>
						<% end %>
					<% else %>
						<td></td>
					<% end %>


				</tr>
				<% end %>
			</table>

		</div>
	</div>
</div>
