<%= render "home/header" %>

<div class="about-background">
		<h1 style="font-size:8em;text-align:center; padding-top:100px;"><%= link_to "Minimalistest", home_about_path,class: "no-decoration-link text-info" %></h1>
</div>

<div class="container">

	<div class="row">

		<div class="col-sm-6">
			<h2 class="common-title" style="text-align:center">RANKING</h2>
			<% @post_rank.each do |p| %>
			<div class="post-box">
				<div class ="row">

					<div class="col-sm-5">
						<%= link_to post_path(p.id) do %>
						<div class="post-show-image-wrapper">
							<% unless p.post_image.file.nil? %>
								<img src="<%= p.post_image %>", class="post-show-image">
							<% else %>
								<%= image_tag "post-no-image.jpg", class: "post-show-image" %>
							<% end %>
						</div>
						<% end %>
					</div>

					<div class="col-sm-7" style="padding-left:0px;">
						<h5 class="post-box-title"><%= link_to p.title, post_path(p.id), class: "no-decoration-link" %></h5>
					</div>

				</div>
			</div>
			<% end %>
		</div>

		<div class="col-sm-6">
			<h2 class="common-title" style="text-align:center">New Posts</h2>
			<% @posts.each do |p| %>
			<div class="post-box">
				<div class ="row">

					<div class="col-sm-5">
						<%= link_to post_path(p.id) do %>
						<div class="post-show-image-wrapper">
							<% unless p.post_image.file.nil? %>
								<img src="<%= p.post_image %>", class="post-show-image">
							<% else %>
								<%= image_tag "post-no-image.jpg", class: "post-show-image" %>
							<% end %>
						</div>
						<% end %>
					</div>

					<div class="col-sm-7" style="padding-left:0px;">
						<h5 class="post-box-title"><%= link_to p.title, post_path(p.id), class: "no-decoration-link" %></h5>
					</div>

				</div>
			</div>
			<% end %>
		</div>

	</div>

</div>
