<%= render "admin/home/header" %>

<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<%= render "devise/shared/error_messages", resource: @tag %>

			<h3 class="common-title">タグ編集</h3>

			<%= form_for @tag, url: admin_tag_path do |f| %>
			<div class="row">
				<div class="col-sm-6">
					<%= f.text_field :name, class: "form-control" %>
				</div>
				<div class="col-sm-1">
					<%= f.submit "編集", class: "btn btn-info" %>
				</div>
				<div class="col-sm-2">
					<%= link_to "削除",admin_tag_path(@tag.id), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-outline-dark" %>
				</div>
			</div>
			<% end %>

		</div>
	</div>
</div>