<%= render "admin/home/header" %>
<%= render "home/flash_message" %>

<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">

			<div class="row">
				<h3 class="common-title">記事一覧</h3>
			</div>

			<table class="table">
				<tr>
					<th>タイトル</th>
					<th>作成者</th>
					<th></th>
					<th></th>
				</tr>

				<% @posts.each do |p| %>
					<tr>
						<td><%= link_to p.title, admin_post_path(p.id) %></td>
						<td><%= link_to p.user.nickname, admin_user_path(p.user_id) %></td>
						<td><%= link_to "編集", edit_admin_post_path(p.id), class: "btn btn-info" %> </td>
						<td><%= link_to "削除", admin_post_path(p.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %></td>
					</tr>
				<% end %>
			</table>

		</div>
	</div>
</div>
