<%= render "admin/home/header" %>

<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<h3 class="common-title"><%= @post.title %></h3>
			<%= attachment_image_tag @post, :image, fallback: "post-no-image.jpg", class: "post-show-image"%>
			<p><%= simple_format(@post.text) %></p>

			<%= link_to "編集", edit_admin_post_path, class: "btn btn-info", style: "margin:15px 0;" %>

		</div>
	</div>
</div>
