<%= render "admin/home/header" %>

<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<h3 class="common-title"><%= @post.title %></h3>

			<div class="post-show-image-wrapper">
				<% unless @post.post_image.file.nil? %>
					<img src="<%= @post.post_image %>", class="post-show-image">
				<% else %>
					<%= image_tag "post-no-image.jpg", class: "post-show-image" %>
				<% end %>
			</div>

			<p><%= simple_format(@post.text) %></p>

			<p><b>この記事の投稿者：<%=link_to @post.user.nickname, admin_user_path(@post.user_id) %></b></p>

			<%= link_to "編集", edit_admin_post_path, class: "btn btn-info", style: "margin:15px 0;" %>

		</div>
	</div>
</div>
