<header class="admin-header">
  <nav class="navbar navbar-expand bg-dark"> <!--navbarでflexbox-->

    <ul class="nav navbar-collapse justify-content-start">
      <!--左寄せ-->
      <%= link_to admin_users_path, class: "nav-link", style: "padding:0;" do %>
        <div style="color:white;font-size:25px;">Minimalistest</div>
      <% end %>
    </ul>

    <ul class="nav navbar-collapse justify-content-end"> <!--右寄せ-->

      <% if admin_signed_in? %>
        <li class="nav-link"><%= link_to "MyPage",admin_admin_path(current_admin.id) %></li>
        <li class="nav-link"><%= link_to "会員一覧",
        admin_users_path %></li>
        <li class="nav-link"><%= link_to "記事一覧",
        admin_posts_path %></li>
        <li class="nav-link"><%= link_to "タグ一覧",
        admin_tags_path %></li>
        <li class="nav-link"><%= link_to "ログアウト",
        destroy_admin_session_path , method: :delete %></li>

      <% else %>
        <li class="nav-link"><%= link_to "会員登録",
        new_admin_registration_path %></li>
        <li class="nav-link"><%= link_to "ログイン",
        new_admin_session_path %></li>
      <% end %>

    </ul>

  </nav>
</header>