<%= render "home/header" %>

<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<% if flash[:notice] %>
				<p><%= flash[:notice] %></p>
			<% end %>

			<h3 class="common-title">確認画面</h3>
			<p style="border-bottom:solid gray 2px;padding:10px;margin-bottom:10px;">以下の内容で表示されます。</p>

			<h3><%= @post.title %></h3>
			<%= attachment_image_tag @post, :image, :limit, 600, 400, fallback: "post-no-image.jpg", size: "600x400" %>
			<p><%= simple_format(@post.text) %></p>

			<%= form_for @post, url: post_path(@post.id),method: :patch do |f| %>

				<%= f.hidden_field :title %>
				<%= f.hidden_field :text %>

				<%= f.submit "この内容で編集する", class: "btn btn-info", style: "margin: 15px 0;" %>
			<% end %>

		</div>
	</div>
</div>