<%= render "home/header" %>
<%= render "home/flash_message" %>

<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">

			<h3 class="common-title">確認画面</h3>
			<p style="border-bottom:solid gray 2px;padding:10px;margin-bottom:10px;">以下の内容で表示されます。</p>

			<h3><%= @post.title %></h3>
			<small>タグ:<%= @tag.name %></small>
			<div class="post-show-image-wrapper">
				<% unless @post.post_image.file.nil? %>
					<img src="<%= @post.post_image %>", class="post-show-image">
				<% else %>
					<%= image_tag "post-no-image.jpg", class: "post-show-image" %>
				<% end %>
			</div>
			<p><%= simple_format(@post.text) %></p>

			<%= form_for @post, url: posts_path do |f| %>

				<%= f.hidden_field :user_id, value: current_user.id %>
				<%= f.hidden_field :title %>
				<%= f.hidden_field :text %>
				<%= hidden_field_tag :"cache[post_image]",@post.post_image.cache_name %>
				<%= hidden_field_tag :tag_id, @tag.id %>

				<%= f.submit "この内容で投稿する", class: "btn btn-info", style: "margin: 15px 0;" %>
			<% end %>

		</div>
	</div>
</div>