<%= render "home/header" %>

<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<%= render "devise/shared/error_messages", resource: @post %>

			<h3 class="common-title">記事編集</h3>

			<%= form_for @post, url: posts_confirm_edit_path,method: :post do |f| %>
				<div class="row">
					<div class="col-sm-2">
						<label>タイトル</label>
					</div>
					<div class="col-sm-10">
						<%= f.text_field :title, class: "form-control",placeholder: "タイトル" %>
					</div>
				</div>

				<div class="row" style="margin-top:15px;">
					<div class="col-sm-2">
						<label>本文</label>
					</div>
					<div class="col-sm-10">
						<%= f.text_area :text, class: "form-control",placeholder: "本文", style: "resize:none;", rows:14 %>
					</div>
				</div>

				<div class="row" style="margin-top:15px;">
					<div class="col-sm-2">
						<label>タグ</label>
					</div>
					<div class="col-sm-10">
						<%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name , @tag.id), class: "form-control" %>
					</div>
				</div>

				<div class="row" style="margin:15px 0;">
					<%= f.file_field :post_image %>
				</div>
				<%= f.hidden_field :user_id, value: @post.user_id %>
				<%= hidden_field_tag :id, @post.id %>


				<div class="row" style="margin:15px 0;">
					<%= f.submit "確認画面へ", class: "btn btn-info" %>
				</div>
			<% end %>

		</div>
	</div>
</div>
