<%= render "home/header" %>

<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<%= render "devise/shared/error_messages", resource: @post %>

			<%= form_for @post, url: posts_confirm_new_path, method: :get do |f| %>
				<div class="row">
					<div class="col-sm-1">
						<%= f.label :title %>
					</div>
					<div class="col-sm-11">
						<%= f.text_field :title, placeholder: "タイトル" %>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-1">
						<%= f.label :text %>
					</div>
					<div class="col-sm-11">
						<%= f.text_area :text, style: "resize:none" %>
					</div>
				</div>

				<div class="row">
					<%= f.submit "投稿", class: "btn btn-primary" %>
				</div>

			<% end %>

		</div>
	</div>
</div>