<%= render "home/header" %>

<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<h3 class="common-title"><%= @post.title %></h3>
			<div class="post-show-image-wrapper">
				<% unless @post.post_image.file.nil? %>
					<img src="<%= @post.post_image %>", class="post-show-image">
				<% else %>
					<%= image_tag "post-no-image.jpg", class: "post-show-image" %>
				<% end %>
			</div>

			<p><%= simple_format(@post.text) %></p>

			<!--自分の記事 → 編集リンク-->
			<% if user_signed_in? %>
				<% if current_user.id == @post.user_id %>
					<%= link_to "この記事を編集する", edit_post_path, class: "btn btn-info", style: "margin:15px 0;" %>
				<% end %>
			<% end %>

		</div>
	</div>
</div>