<%= render "home/header" %>

<div class="container">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<h3 class="common-title"><%= @post.title %></h3>

			<small>タグ：</small>
			<% @tag.each do |t| %>
				<small><%= t.name %></small>
			<% end %>

			<div class="post-show-image-wrapper">
				<% unless @post.post_image.file.nil? %>
					<img src="<%= @post.post_image %>", class="post-show-image">
				<% else %>
					<%= image_tag "post-no-image.jpg", class: "post-show-image" %>
				<% end %>
			</div>

			<p><%= simple_format(@post.text) %></p>

			<!--ajax対応のいいね　posts/post_favoriteを renderする-->
			<% if user_signed_in? %>
				<% if current_user.id != @post.user_id %>
					<div id="post-show-favorite-ajax-<%= @post.id %>">
						<%= render partial: "posts/post_favorite", locals: {post: @post} %>
					</div>
				<% end %>
			<% end %>

			<p><b>この記事の投稿者：<%=link_to @post.user.nickname, user_path(@post.user_id) %></b></p>

			<!--自分の記事 → 編集リンク-->
			<% if user_signed_in? %>
				<% if current_user.id == @post.user_id %>
					<%= link_to "この記事を編集する", edit_post_path, class: "btn btn-info", style: "margin:15px 0;" %>
				<% end %>
			<% end %>

		</div>
	</div>
</div>